extend layout

block content
  .container
    .row
      h3 Lijst van gevonden scratch-netters

      each svc,key in services
        ul
          li #{svc.key} #{svc.params.isMe?"*me*":""} #{svc.params.isMaster?"*master*":""}
        ul

    .row
      h3 Lijst van beschikbare services

      ul
        each svc,key in catalog
          li.linker #{svc} #{key}

      script.
        $(function() {
          $(".linker").click(function() {
            showLinkDialog($(this).text())
          })

          //TODO: enable drag-n-drop between services and scratchnet instances
        })

    .row
      h3 Lijst van actieve links
        TODO
